flows.json
[{"id":"93647f29.f7eff","type":"tab","label":"API Twilio webinar","disabled":false,"info":""},{"id":"967f4565.20d8d8","type":"http in","z":"93647f29.f7eff","name":"","url":"/watson/api","method":"post","upload":false,"swaggerDoc":"","x":110,"y":82,"wires":[["ebb78581.3b8978"]]},{"id":"6ad9086f.ec2b58","type":"switch","z":"93647f29.f7eff","name":"","property":"acao","propertyType":"msg","rules":[{"t":"eq","v":"Destino","vt":"str"},{"t":"eq","v":"Emocao","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":110,"y":182,"wires":[["ac163438.3d0618"],["63a8e7d3.2f8278"]]},{"id":"5ef9a609.004f98","type":"http response","z":"93647f29.f7eff","name":"","statusCode":"","headers":{},"x":690,"y":176,"wires":[]},{"id":"ac163438.3d0618","type":"natural-language-understanding","z":"93647f29.f7eff","name":"NLU","categories":false,"limitcategories":"3","concepts":false,"maxconcepts":"8","doc-emotion":false,"doc-emotion-target":"","doc-sentiment":false,"doc-sentiment-target":"","entity":true,"entity-emotion":false,"entity-sentiment":false,"maxentities":"50","keyword":false,"keyword-emotion":false,"keyword-sentiment":false,"maxkeywords":"50","metadata":false,"relation":false,"semantic":false,"semantic-entities":false,"semantic-keywords":false,"maxsemantics":"50","limittextcharacters":"0","syntax":false,"syntax-sentences":false,"syntax-tokens-lemma":false,"syntax-tokens-pos":false,"service-endpoint":"","x":310,"y":176,"wires":[["6ea215bc.3dd90c"]]},{"id":"ebb78581.3b8978","type":"change","z":"93647f29.f7eff","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"req.body.mensagem","tot":"msg"},{"t":"set","p":"acao","pt":"msg","to":"req.body.acao","tot":"msg"},{"t":"set","p":"nlu_options.language","pt":"msg","to":"pt-br","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":82,"wires":[["6ad9086f.ec2b58"]]},{"id":"6ea215bc.3dd90c","type":"function","z":"93647f29.f7eff","name":"","func":"msg.payload = {\"Destino\":null};\nif(msg.features.entities.length > 0)\n{\n    for(x=0;x<msg.features.entities.length;x++)\n    {\n        if(msg.features.entities[x].type == \"Location\")\n            msg.payload = {\"Destino\":msg.features.entities[x].text};\n            return msg;\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":176,"wires":[["5ef9a609.004f98"]]},{"id":"63a8e7d3.2f8278","type":"watson-translator","z":"93647f29.f7eff","name":"","action":"translate","basemodel":"ar-en","domain":"general","srclang":"pt","destlang":"en","password":"","apikey":"qJfvDsbKD5nUbsZZWWFxl1bewRuK4HzPPm0ZNBlZh0-l","custom":"","domainhidden":"general","srclanghidden":"pt","destlanghidden":"en","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"service-endpoint":"https://api.us-south.language-translator.watson.cloud.ibm.com/instances/30e82418-6be7-44ab-a0c3-7c4a6c4650fc","x":150,"y":261,"wires":[["3a3085b.25a387a"]]},{"id":"1268041b.ef9b8c","type":"natural-language-understanding","z":"93647f29.f7eff","name":"NLU","categories":false,"limitcategories":"3","concepts":false,"maxconcepts":"8","doc-emotion":true,"doc-emotion-target":"","doc-sentiment":false,"doc-sentiment-target":"","entity":false,"entity-emotion":false,"entity-sentiment":false,"maxentities":"50","keyword":false,"keyword-emotion":false,"keyword-sentiment":false,"maxkeywords":"50","metadata":false,"relation":false,"semantic":false,"semantic-entities":false,"semantic-keywords":false,"maxsemantics":"50","limittextcharacters":"0","syntax":false,"syntax-sentences":false,"syntax-tokens-lemma":false,"syntax-tokens-pos":false,"service-endpoint":"","x":470,"y":261,"wires":[["c175a3d9.e673d","ce735e6e.6ed2f"]]},{"id":"c175a3d9.e673d","type":"debug","z":"93647f29.f7eff","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":710,"y":361,"wires":[]},{"id":"9bd78f2b.0ab17","type":"inject","z":"93647f29.f7eff","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Eu gostaria de saber se posso fazer o cancelamento de minha passagem","payloadType":"str","x":130,"y":341,"wires":[["63a8e7d3.2f8278"]]},{"id":"ce735e6e.6ed2f","type":"function","z":"93647f29.f7eff","name":"","func":"humano = false;\nif(msg.features.emotion.document.emotion.disgust > 0.6 ||\n   msg.features.emotion.document.emotion.anger > 0.6)\n   humano = true;\nmsg.payload = {\"watson\":{\"emocao\":msg.features.emotion.document.emotion,\n               \"humano\":humano}\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":261,"wires":[["5ef9a609.004f98"]]},{"id":"5329ce11.73157","type":"http in","z":"93647f29.f7eff","name":"","url":"/watson/chat","method":"get","upload":false,"swaggerDoc":"","x":110,"y":471,"wires":[["aea58d35.24225","472a4fb7.d5127"]]},{"id":"308015ce.61460a","type":"watson-assistant-v2","z":"93647f29.f7eff","name":"","service-endpoint":"","assistant_id":"98d71188-bd31-450e-a1b1-7926e0c5792a","debug":false,"restart":false,"return_context":true,"alternate_intents":false,"multisession":true,"timeout":"","optout-learning":false,"x":310,"y":531,"wires":[["af27db8e.90ea68","12765937.f7d567"]]},{"id":"aea58d35.24225","type":"change","z":"93647f29.f7eff","name":"","rules":[{"t":"set","p":"params.session_id","pt":"msg","to":"req.query.user_id","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"req.query.mensagem","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":471,"wires":[["6b9e6e9f.2f103"]]},{"id":"af27db8e.90ea68","type":"debug","z":"93647f29.f7eff","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":690,"y":591,"wires":[]},{"id":"87064746.331a18","type":"http response","z":"93647f29.f7eff","name":"","statusCode":"","headers":{},"x":750,"y":531,"wires":[]},{"id":"12765937.f7d567","type":"function","z":"93647f29.f7eff","name":"","func":"if(msg.payload.context.skills[\"main skill\"].user_defined && \n   msg.payload.context.skills[\"main skill\"].user_defined.resultado &&\n   msg.payload.context.skills[\"main skill\"].user_defined.resultado.watson)\n{\n    msg.payload = {\"resposta\":msg.payload.output.generic[0].text,\n                   \"watson\":msg.payload.context.skills[\"main skill\"].user_defined.resultado.watson.emocao,\n                   \"humano\":msg.payload.context.skills[\"main skill\"].user_defined.resultado.watson.humano};\n}\nelse\n{\n    msg.payload = {\"resposta\":msg.payload.output.generic[0].text,\n                   \"watson\":null,\n                   \"humano\":false};\n    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":531,"wires":[["87064746.331a18"]]},{"id":"3a3085b.25a387a","type":"function","z":"93647f29.f7eff","name":"","func":"msg.nlu_options.language = \"en\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":261,"wires":[["1268041b.ef9b8c"]]},{"id":"6b9e6e9f.2f103","type":"function","z":"93647f29.f7eff","name":"","func":"msg.additional_context = {\"resultado\":null};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":140,"y":531,"wires":[["308015ce.61460a"]]},{"id":"472a4fb7.d5127","type":"debug","z":"93647f29.f7eff","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":700,"y":471,"wires":[]},{"id":"b281b3e9.7774f","type":"comment","z":"93647f29.f7eff","name":"API utilizada como webhook do WA","info":"","x":160,"y":40,"wires":[]},{"id":"5de60bb1.a06344","type":"comment","z":"93647f29.f7eff","name":"API utilizada pela aplicação do Twilio","info":"","x":160,"y":420,"wires":[]}]